# SPDX-License-Identifier: GPL-2.0
#
# ARM Error Source Table Support
#
# Copyright (c) 2025, Alibaba Group.
#

config AEST
	tristate "ARM AEST Driver"
	depends on ACPI_AEST || OF_AEST
	depends on RAS
	help
	  The Arm Error Source Table (AEST) provides details on ACPI
	  extensions that enable kernel-first handling of errors in a
	  system that supports the Armv8 RAS extensions.

	  If set, the kernel will report and log hardware errors.

config OF_AEST
        bool "ARM Error Source Table DT Support"
        depends on ARM64_RAS_EXTN && OF
        help
          Enable support for discovering ARM RAS error sources using the
          Device Tree based Arm Error Source Table (AEST) specification.
          This allows the kernel to enumerate and manage hardware error
          reporting blocks described in firmware for ARMv8 and later
          systems. Select this option if your platform describes AEST
          nodes in Device Tree and relies on RAS error handling.
